.navbar{
    border-bottom: 1px solid #EAECF0;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 2;
    background-color: #fff;
}
.logoImg{
    margin-left: auto;
    margin-right: auto;
}